﻿@model Exam12.ViewModels.AddGalleryImageViewModel
<form method="POST" asp-controller="Gallery" asp-action="Add" class="form-horizontal" enctype="multipart/form-data">
     <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group ml-3">
        <input type="file" asp-for="Image" class="form-control-file">
        <span asp-validation-for="Image"></span>
    </div>
    <input type="hidden" asp-for="PlaceId" value="@Model.PlaceId">
    <input type="submit" value="Add gallery image" class="btn btn-success ml-3"/>
</form>        
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
