﻿@model List<Exam12.Models.Place>
<div id="searchresults" class="d-flex flex-column w-100">
    @if (@Model.Count > 0)
    {
        foreach (var place in Model)
        {
            <div class="py-2">
                <img width="50" height="50" class="rounded-circle" src="~/@place.MainImagePath" alt="image"/>
                <a class="col-lg-4 text-center text-dark" asp-action="Index" asp-controller="Place"
                   asp-route-placeId="@place.Id">
                    @place.Title</a>
            </div>
        }
    }
</div>
