﻿@using Exam12.Models
@model Exam12.Models.Review
@inject ApplicationContext Context
<h2 class="mt-5 mb-5">Reviews</h2>
<style>
    .num {
      display: none;
    }
    .paginator {
      line-height: 150%;
    }
    .paginator > span {
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
    }
    .paginator_active {
      color: red;
    }
</style>
@{
    var count = Context.Reviews.Count(a => a.PlaceId == Model.PlaceId);
    var i = 1;
    var reviews = Context.Reviews.Where(r => r.PlaceId == @Model.PlaceId).ToList();
    foreach (var review in reviews.OrderBy(r => r.DateTime))
    {
        <div class="message num" data-num=@i>
            <p>On @review.DateTime, <span class="font-weight-bold">@review.User.UserName</span> said: </p>
            <p>@review.Message</p>
        </div>
        i++;
    }
    <div id="light-pagination" class="pagination"></div>
    <span id="app"></span>
}
<div class="form-group col-lg-12">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <textarea  class="form-control" id="postText-@Model.PlaceId"></textarea>
                <span asp-validation-for="Message"></span>
                <div class="form-group ">
                    <select class="form-control col-lg-1" id="rate">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <button class="btn btn-outline-dark" type="button"
                        onclick="addReview('@Model.PlaceId', '@User.Identity.Name')">
                    Add Review
                </button>
            </form>
            
        }
    }
</div>
<div class="paginator" onclick="pagination(event)"></div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script> 
function addReview(placeId, userName) {
    var appendString =  '<div class="message" data-num=@i>\n'+
                        '<p>On' + '@DateTime.Now' + ', <span class="font-weight-bold">'+ userName +'</span> said: </p>\n'+
                        '<p>' +  $('#postText-' + placeId).val() + '</p>\n'+
                        '</div>';

    $.ajax({
            url: '@Url.Action("Add", "Review")',
            method: 'POST',
            data: {
                'rating':$('#rate').val(),
                'placeId': placeId,
                'message': $('#postText-' + placeId).val()
            },
            success: function () {
                $('#app').
                append(appendString);
                $('#postText-' + placeId).val(null);
                $('body, html').scrollTop($(document).height());
            }
        }
    );
}
var count = @count;
var cnt = 5;
var cnt_page = Math.ceil(count / cnt);


var paginator = document.querySelector(".paginator");
var page = "";
for (var i = 0; i < cnt_page; i++) {
    page += "<span data-page=" + i * cnt + "  id=\"page" + (i + 1) + "\">" + (i + 1) + "</span>";
}
paginator.innerHTML = page;


var div_num = document.querySelectorAll(".num");
for (var i = 0; i < div_num.length; i++) {
    if (i < cnt) {
        div_num[i].style.display = "block";
    }
}

var main_page = document.getElementById("page1");
main_page.classList.add("paginator_active");


function pagination(event) {
    var e = event || window.event;
    var target = e.target;
    var id = target.id;

    if (target.tagName.toLowerCase() != "span") return;

    var num_ = id.substr(4);
    var data_page = +target.dataset.page;
    main_page.classList.remove("paginator_active");
    main_page = document.getElementById(id);
    main_page.classList.add("paginator_active");

    var j = 0;
    for (var i = 0; i < div_num.length; i++) {
        var data_num = div_num[i].dataset.num;
        if (data_num <= data_page || data_num >= data_page)
            div_num[i].style.display = "none";

    }
    for (var i = data_page; i < div_num.length; i++) {
        if (j >= cnt) break;
        div_num[i].style.display = "block";
        j++;
    }
}
</script>