﻿@using Exam12.Models
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@inject ApplicationContext Context;
@model X.PagedList.IPagedList<Exam12.Models.Place>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>All Places</h1>
</div>
<div class="d-flex justify-content-around row">
    @{
        foreach (var place in @Model)
        {
            var photos = Context.GalleryImages.Count(i => i.PlaceId == place.Id); 
            var reviews = Context.Reviews.Count(r => r.PlaceId == @place.Id);
            var rating = Context.Reviews.Where(r => r.PlaceId == @place.Id).Sum(r => r.Rating) / reviews;
            rating = Math.Round(rating, 1);
            <div class="card bg-light col-lg-3 text-dark text-decoration-none mb-4 table-hover">
                <div class="">
                    <div class="card-header d-flex">
                        <a
                            asp-action="Index"
                            asp-controller="Place"
                            asp-route-placeId="@place.Id">
                            <img src="~/@place.MainImagePath" width="220" height="220" alt="main_image">
                        </a>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0 text-center">
                            <a class="text-dark"
                               asp-action="Index"
                               asp-controller="Place"
                               asp-route-placeId="@place.Id">
                                @place.Title</a>
                        </blockquote>
                    </div>
                </div>

                <div class="rating" data-rateyo-rating="@rating" ></div>
                <p>(@rating, @reviews reviews)</p>
                <p>@photos photos</p>
            </div>
        }
    }
</div>

<div class="text-center">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    <div class="d-flex justify-content-around">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
            new PagedListRenderOptions
            {
                LiElementClasses = new[] {"page-item"},
                PageClasses = new[] {"page-link"}
            })
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script >
$(function () {
 
  $(".rating").rateYo({
    readOnly: true,
    starWidth: "20px"
  })
 
});
</script>