﻿@model Exam12.ViewModels.LogInViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <form class="form-horizontal" method="post" asp-controller="User" asp-action="LogIn">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName"></span>                    
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password"></span>
                </div>
            </div><br>
            <input type="submit" value="Login" class="btn btn-success"/>
        </form>
    </div>
</div>