﻿@model Exam12.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "Registration";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <form method="POST" asp-controller="User" asp-action="Registration" class="form-horizontal" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label col-md-2"></label>
                <div class="col-md-5">
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label col-md-2"></label>
                <div class="col-md-5">
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label col-md-2"></label>
                <div class="col-md-5">
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group ml-3">
                <label asp-for="Avatar" class="">Avatar</label>
                <input type="file" asp-for="Avatar" class="form-control-file">
                <span asp-validation-for="Avatar"></span>
            </div>
            <input type="submit" value="Register" class="btn btn-success ml-3"/>
        </form>        
    </div>
</div>
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}