﻿@model Exam12.ViewModels.AddPlaceViewModel

@{
    ViewBag.Title = "Add new place";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <form method="POST" asp-controller="Place" asp-action="AddPlace" class="form-horizontal"enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label col-md-2"></label>
                <div class="col-md-5">
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label col-md-2"></label>
                <div class="col-md-5">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="form-group ml-3">
                <label asp-for="MainImage" class="">Main photo</label>
                <input type="file" asp-for="MainImage" class="form-control-file">
                <span asp-validation-for="MainImage"></span>
            </div>
            <input type="submit" value="Submit new place" class="btn btn-success ml-3"/>
        </form>        
    </div>
</div>
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}