﻿@using Exam12.Models
@using Exam12.ViewModels
@model Exam12.Models.Place 
@inject ApplicationContext Context;
@{
    Layout = "_Layout";
    var rating = Context.Reviews.Where(r => r.PlaceId == @Model.Id).Sum(r => r.Rating) /
                 Context.Reviews.Count(r => r.PlaceId == @Model.Id);
}
<div class="row">
    <div class="col-lg-7">
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
    </div>
    <div class="col-lg-5">
        <img src="@Model.MainImagePath" alt="main_img" height="300">
    </div>
    <div class="col-lg-12 mb-5">
        <h3>Gallery</h3>
        <div class="chocolat-parent" data-chocolat-title="set title">
            @{
                foreach (var contextGalleryImage in Context.GalleryImages.Where(g => g.PlaceId == Model.Id))
                {
                    <a class="chocolat-image" href="@contextGalleryImage.ImagePath" title="caption image 1">
                        <img width="100" src="@contextGalleryImage.ImagePath" alt=""/>
                    </a>
                }
            }
        </div>
    </div>
    <div>
        <h4> Rating </h4>
    </div>
    <div id="rateYo"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script >
$(document).ready(function(){
    $('.chocolat-parent').Chocolat();
});
$(function () {
 
  $("#rateYo").rateYo({
    rating: @rating,
    readOnly: true
  })
 
});
</script>

@{
    await Html.RenderPartialAsync("PartialViews/ReviewPartial", new Review(Model.Id));
    if (User.Identity.IsAuthenticated)
    {
        await Html.RenderPartialAsync("PartialViews/AddGalleryImagePartial", new AddGalleryImageViewModel(Model.Id));
    }
}