﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Exam_12</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/js/v2.3.2/jquery.rateyo.css">
    <link rel="stylesheet" href="css/chocolate.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Exam_12</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="nav navbar-nav navbar-right d-flex">
                    <li class="nav-item position-relative mr-5">
                        <input class="form-control"
                               oninput="liveSearch()"
                               type="text"
                               name="searchKey"
                               id="search"/>
                        <div id="results" class="col-md-12 position-absolute d-inline-flex flex-column w-100  bg-light"
                             style="z-index: 999999">
                        </div>
                         <div id="results1 col-md-12 position-absolute d-inline-flex flex-column" ></div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="LogOut" asp-controller="User">
                            <button class="btn btn-dark" asp-area="" asp-controller="User"
                                    asp-action="LogOut">
                                Logout
                            </button>
                        </form>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Place" asp-action="AddPlace">Add new place</a>
                        </li>
                        <li class="ml-2">@User.Identity.Name</li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Registration">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogIn">Login</a>
                        </li>
                    }

                </ul>
                <input class="btn btn-outline-primary dropdown-toggle" type="button" id="submit" value="Search"/>
                   
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - Exam_12
    </div>
</footer>
<script src="~/js/v2.3.2/jquery.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/v2.3.2/jquery.rateyo.min.js"></script>
<script src="js/chocolate.js"></script>
@RenderSection("Scripts", required: false)
<script>
    function liveSearch(){
        var searchKey = $('#search').val();
        searchKey = encodeURIComponent(searchKey);
        $('#results').load('@Url.Action("LiveSearchAjaxResult", "Place")?keyWord=' + searchKey);
    }
    function search() {
        var searchKey = $('#search').val();
        searchKey = encodeURIComponent(searchKey);
        $('#results1').load('@Url.Action("LiveSearchAjaxResult", "Place")?keyWord=' + searchKey);
    }
</script>
</body>
</html>